@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}

body {
  background: #f2f2f2;
}

:root {
  --main-color: #bf404c;
  --secondary-color: #efac3d;
}
